<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cleanarchitecture">

    <application>
        <activity
            android:name=".ui.addNotification.AddNotificationActivity"
            android:label="@string/add_notification"/>

        <activity
            android:name=".ui.notification.NotificationListActivity"
            android:label="@string/list_notifications">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>