<manifest package="com.example.cleanarchitecture"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.landingpage.LandingPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.addTask.AddTaskActivity"
            android:label="@string/add_task"/>

        <activity
            android:name=".ui.task.TaskListActivity"
            android:label="@string/tasks_list"/>
        <activity
            android:name=".ui.addNotification.AddNotificationActivity"
            android:label="@string/add_notification"/>

        <activity
            android:name=".ui.notification.NotificationListActivity"
            android:label="@string/list_notifications">
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>